.movie-find-title {
  color: rgba(255, 255, 255, 0.757);
  font-weight: normal;
}

.find-movie {
  margin-bottom: 20px;
}

.input {
  background-color: rgba(255, 255, 255, 0.943);
}

.isAdded {
  background-color: black;
}
