.card {
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.05);
}

.title {
  color: white;
}

.card-image img {
  object-fit: contain;
}

.delete-icon {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 6px;
  color: rgba(219, 208, 208, 0.48);
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.content {
  color: white;
}
