.page-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
